<p>
    Настоящим в&nbsp;соответствии с&nbsp;Федеральным законом №152&#8209;ФЗ
    «О&nbsp;персональных данных» от&nbsp;27.07.2006 года свободно, своей волей и&nbsp;в&nbsp;своём
    интересе выражаю своё безусловное согласие на&nbsp;обработку моих персональных данных
    НАЗВАНИЕ КОМПАНИИ,
    зарегистрированным в&nbsp;соответствии с&nbsp;законодательством&nbsp;РФ по&nbsp;адресу:
    АДРЕС КОМПАНИИ
    (далее по&nbsp;тексту&nbsp;- Оператор).
</p>
<p>
    Персональные данные&nbsp;- любая информация, относящаяся к&nbsp;определённому
    или&nbsp;определяемому на&nbsp;основании такой информации физическому лицу.
</p>
<p>
    Настоящее Согласие выдано мною на&nbsp;обработку следующих персональных данных:
</p>
<ul class="marked">
    <li>
        Имя;
    </li>
    <li>
        Телефон;
    </li>
    <li>
        E-mail;
    </li>
    <li>
        Комментарий.
    </li>
</ul>
<p>
    Согласие дано Оператору для&nbsp;совершения следующих действий с&nbsp;моими персональными
    данными с&nbsp;использованием средств автоматизации и/или&nbsp;без&nbsp;использования таких
    средств: сбор, систематизация, накопление, хранение, уточнение (обновление, изменение),
    использование, обезличивание, передача третьим лицам для&nbsp;указанных ниже целей,
    а&nbsp;также осуществление любых иных действий, предусмотренных действующим
    законодательством&nbsp;РФ, как&nbsp;неавтоматизированными, так&nbsp;и&nbsp;автоматизированными
    способами.
</p>
<p>
    Данное согласие даётся Оператору и&nbsp;третьему лицу(&#8209;ам)
    ТРЕТЬИ ЛИЦА
    для&nbsp;обработки моих персональных данных в&nbsp;следующих целях:
</p>
<ul class="marked">
    <li>
        предоставление мне услуг/работ;
    </li>
    <li>
        направление в&nbsp;мой адрес уведомлений, касающихся предоставляемых услуг/работ;
    </li>
    <li>
        подготовка и&nbsp;направление ответов/коммерческих предложений на&nbsp;мои запросы;
    </li>
    <li>
        направление в&nbsp;мой адрес информации, в&nbsp;том числе рекламной,
        о&nbsp;мероприятиях/товарах/услугах/работах Оператора.
    </li>
</ul>
<p>
    Настоящее согласие действует до&nbsp;момента его&nbsp;отзыва путём направления соответствующего
    уведомления на&nbsp;электронный адрес
    <a href="mailto:">ЕМЕЙЛ</a>.
    В&nbsp;случае отзыва мною согласия на&nbsp;обработку персональных данных Оператор вправе
    продолжить обработку персональных данных без&nbsp;моего согласия при&nbsp;наличии оснований,
    указанных в&nbsp;пунктах 2&#8209;11 части&nbsp;1 статьи&nbsp;6, части&nbsp;2 статьи&nbsp;10
    и&nbsp;части&nbsp;2 статьи&nbsp;11 Федерального закона №152&#8209;ФЗ
    «О&nbsp;персональных данных» от&nbsp;26.06.2006&nbsp;г.
</p>
