<a href="#" class="open-spinner-modal gift" data-extra="2"></a>
<a href="#" class="open-gift-modal hidden" data-extra="2"></a>

</div>
<script>const template_url = `${location.origin}/uploads/assets`;</script>
<!--[if IE]><script src="/uploads/assets/js/html5shiv.js"></script> <![endif]-->
<script src="/uploads/assets/js/plugins-all.js"></script>
<script src="/uploads/assets/js/jquery.easing.js"></script>
<script src="/uploads/assets/js/jquery-ui.min.js"></script>
<script src="/uploads/assets/js/jquery.ui.touch.min.js"></script>
<script src="/uploads/assets/js/spinner.js?v=2"></script>
<script src="/uploads/assets/js/jquery.cookie.js"></script>
<script src="/uploads/assets/js/check_user.js"></script>
<script src="/uploads/assets/js/save_data_to_localstorage.js"></script>
<script src="/uploads/assets/js/smooth-scroll-1.4.9.min.js"></script>
<script src="//api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
{{ html.script('/libraries/lazyload/lazyload.min.js') }}
{{ html.script('/libraries/lazyload/lazyload_init.js') }}
{{ html.script('Favorites.favorite_site') }}
<script src="/uploads/assets/js/locations.js"></script>
<script src="/uploads/assets/js/main.js?v=4"></script>
<script src="/uploads/assets/js/share.js"></script>
{{ _view.fetch('script') }}
<script src="//code-eu1.jivosite.com/widget/6oTo0cbYyj" async></script>
</body>
</html>
