<section class="section-heading" id="heading">
    <div class="container">
        <h1 style="display: flex;flex-direction: column;">
            <span class="top-word">Репутация</span>
            Надежность
            <span class="bottom-word">Качество</span>
        </h1>
    </div>
</section>
